<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

  
   

<div *ngFor="let todo of todolist">
    <div class="all">
   
<img class="photo" src="{{todo.myimage}}">
    

      <div class="name">
        
        {{todo.name}}
        {{todo.surname}}
        </div>

        <div class="postion">
          {{todo.position}}
</div>
          <div class="age">
           {{todo.age}}
          </div>


  <button (click)="update()">update</button>
    <button (click)="Delete()">Delete</button>
    </div>
    </div>

  